<!doctype html>

<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usuarios</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="login.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

	<script src="core.js"></script>

</head>
<body ng-controller="mainController">

	
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<form name="myForm">
				<h1>Inicia Sesión</h1>
					<div class="form-group">
						<!-- <input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
						<br>-->
						<input type="text" class="form-control input-lg text-center" placeholder="Usuario"  required>
						<br>
						<!--<input type="text" class="form-control input-lg text-center" placeholder="Email" ng-model="newPersona.email" required>
						<br>-->
						<input type="password" class="form-control input-lg text-center" placeholder="Contraseña" required>


					</div>


					

					<a href="tabla.html" class="btn btn-success btn-lg" >Inicia Sesión</a>
					<div>
					<br>
					<p>¿No tienes una cuenta? <a href="index.html">Registrate</a></p>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>
